@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap");
*, *::before, *::after {
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  border: 0;
}

body {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  border: 0;
}

ul, li {
  list-style: none;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

input, button {
  border: 0;
  border-radius: 0;
}

body {
  font-family: "Source Sans Pro" !important;
  font-size: 18px;
  color: #999999;
}

a, label, p {
  color: #999999;
}

#first-block {
  background-image: url(../images/background-first.jpeg);
  height: -moz-fit-content;
  height: fit-content;
}
#first-block .wrapper-content {
  height: -moz-fit-content;
  height: fit-content;
  background-color: rgba(21, 20, 26, 0.9);
}
#first-block .wrapper-content #burger-menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 30%;
  height: 100%;
  background-color: #ffffff;
  transform: translateX(100%);
  transition: transform 0.3s ease;
  z-index: 12;
}
#first-block .wrapper-content #burger-menu .close-icon {
  background-color: #f2f2f2;
  padding: 10px;
  display: flex;
  justify-content: center;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  margin-bottom: 5px;
}
#first-block .wrapper-content #burger-menu .close-icon img {
  cursor: pointer;
  height: auto;
  width: 20px;
}
#first-block .wrapper-content #burger-menu .navbar-nav {
  padding: 15px;
}
#first-block .wrapper-content #burger-menu .navbar-nav li a {
  padding-left: 10px;
  width: 100%;
  font-size: 20px;
  color: #1a1a1a !important;
}
#first-block .wrapper-content #burger-menu .navbar-nav li a:hover {
  font-weight: bold;
  -webkit-text-decoration: underline 3px solid #008ed6;
          text-decoration: underline 3px solid #008ed6;
}
#first-block .wrapper-content .active {
  transform: translateX(0) !important;
  position: fixed;
}
@media only all and (max-width: 575px) {
  #first-block .wrapper-content #burger-menu {
    width: 50%;
  }
}
#first-block .wrapper-content #top {
  margin-bottom: 55px;
}
#first-block .wrapper-content .black-header {
  background-color: #15141a;
}
#first-block .wrapper-content .black-header #main #name-nav {
  margin: 0 !important;
}
#first-block .wrapper-content header {
  position: fixed;
  width: 100%;
  z-index: 10;
  background-color: transparent;
  transition: background-color 0.5s ease;
}
#first-block .wrapper-content header #main .row {
  margin: 0 !important;
}
#first-block .wrapper-content header #main #name-nav {
  width: 100% !important;
  display: flex;
  align-items: center !important;
}
#first-block .wrapper-content header #main #name-nav p {
  margin: 0 !important;
}
#first-block .wrapper-content header #main #name-nav #name-company {
  display: flex;
  align-items: center;
  flex-direction: row;
}
#first-block .wrapper-content header #main #name-nav #name-company #main-title {
  font-weight: bold;
  font-size: 24px;
}
#first-block .wrapper-content header #main #name-nav #name-company #main-title a {
  text-decoration: none;
  color: #ffffff;
}
#first-block .wrapper-content header #main #name-nav #name-company #theme {
  padding-left: 2px !important;
  line-height: 1;
  font-size: 9px;
}
#first-block .wrapper-content header #main #name-nav #name-company #theme a {
  text-decoration: none;
  color: #999999;
}
@media only all and (max-width: 992px) {
  #first-block .wrapper-content header #main #name-nav #name-company #main-title {
    font-size: 36px;
  }
  #first-block .wrapper-content header #main #name-nav #name-company #theme {
    font-size: 18px;
  }
}
#first-block .wrapper-content header #main #name-nav #navbar {
  display: flex;
  justify-content: flex-end;
}
#first-block .wrapper-content header #main #name-nav #navbar nav {
  display: flex;
  justify-content: flex-end !important;
}
#first-block .wrapper-content header #main #name-nav #navbar nav button {
  padding: 0 !important;
  padding-right: 10px !important;
  padding-left: 10px !important;
  padding-top: 5px !important;
  padding-bottom: 5px !important;
  border: 1px solid #ffffff !important;
  z-index: 4;
}
#first-block .wrapper-content header #main #name-nav #navbar nav button .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='%23FFFFFF' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  color: #ffffff;
}
#first-block .wrapper-content header #main #name-nav #navbar nav button:hover {
  background-color: transparent !important;
}
#first-block .wrapper-content header #main #name-nav #navbar nav #menu {
  justify-content: flex-end;
  padding: 0;
}
#first-block .wrapper-content header #main #name-nav #navbar nav #menu #main-menu {
  flex-grow: unset;
}
#first-block .wrapper-content header #main #name-nav #navbar nav #menu #main-menu li {
  font-size: 16px !important;
}
#first-block .wrapper-content header #main #name-nav #navbar nav #menu #main-menu li:last-child a {
  padding-right: 0 !important;
}
#first-block .wrapper-content header #main #name-nav #navbar nav #menu #main-menu a {
  padding: 0 !important;
  margin-top: 8px;
  margin-left: 8px;
  margin-right: 8px;
  padding-bottom: 8px !important;
  color: #ffffff;
}
#first-block .wrapper-content header #main #name-nav #navbar nav #menu #main-menu a:hover, #first-block .wrapper-content header #main #name-nav #navbar nav #menu #main-menu a:active {
  position: relative;
  text-decoration: none;
}
#first-block .wrapper-content header #main #name-nav #navbar nav #menu #main-menu a:hover::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 45%;
  height: 3px;
  background-color: #008ed6;
}
#first-block .wrapper-content header #main #name-nav #navbar nav #menu #main-menu a:hover::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 45%;
  height: 3px;
  background-color: #008ed6;
}
@media only all and (max-width: 992px) {
  #first-block .wrapper-content header #main #name-nav {
    margin: 0 !important;
  }
}

.bg .wrapper-content #banner .row {
  margin: 0 !important;
}
.bg .wrapper-content #banner #text-photo #int-text {
  padding: 0 !important;
}
.bg .wrapper-content #banner #text-photo #int-text #title-text {
  font-size: 48px;
  color: #ffffff;
  line-height: 1;
}
.bg .wrapper-content #banner #text-photo #int-text #some-text {
  width: 83%;
  font-size: 18px;
  margin-bottom: 60px;
}
.bg .wrapper-content #banner #text-photo #int-text .button-wrapper a:first-child {
  margin-right: 10px !important;
}
.bg .wrapper-content #banner #text-photo #int-text .button-wrapper a:last-child {
  margin-left: 10px !important;
}
@media only all and (max-width: 992px) {
  .bg .wrapper-content #banner #text-photo #int-text {
    margin: 0 auto;
    width: 100% !important;
  }
  .bg .wrapper-content #banner #text-photo .button-link {
    margin-bottom: 65px;
  }
}
@media only all and (max-width: 575px) {
  .bg .wrapper-content #banner #text-photo #int-text #what-is {
    font-size: 12px;
  }
  .bg .wrapper-content #banner #text-photo #int-text #title-text {
    font-size: 36px;
  }
  .bg .wrapper-content #banner #text-photo #int-text #some-text {
    font-size: 16px;
  }
}
@media only all and (max-width: 390px) {
  .bg .wrapper-content #banner #text-photo #int-text #title-text {
    font-size: 24px;
  }
  .bg .wrapper-content #banner #text-photo #int-text #some-text {
    font-size: 14px;
  }
}
.bg .wrapper-content #banner #text-photo #photo {
  margin-top: -40px;
  height: auto;
  display: flex;
  height: -moz-fit-content !important;
  height: fit-content !important;
  justify-content: flex-end;
  padding: 0 !important;
}
.bg .wrapper-content #banner #text-photo #photo img {
  padding-right: 35px !important;
  width: 450px;
  height: auto;
  display: none;
}
@media only all and (min-width: 992px) {
  .bg .wrapper-content #banner #text-photo #photo img {
    display: block;
  }
}

main #wrapper-overview {
  padding: 0;
  width: 100%;
  border-bottom: 1px solid rgba(153, 153, 153, 0.2);
}
main #wrapper-overview #overview #title-block {
  width: 100% !important;
  height: 100% !important;
  margin: 0 !important;
}
main #wrapper-overview #overview #title-block #title-product {
  margin-top: 65px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 55px;
}
main #wrapper-overview #overview #title-block #title-product #what-is {
  margin-bottom: 0;
}
main #wrapper-overview #overview #title-block #title-product #title-text {
  display: inline-block;
  text-align: center;
  margin: 0;
  color: #1a1a1a;
}
main #wrapper-overview #overview #title-block #title-product #underline {
  justify-content: center;
}
main #wrapper-overview #overview #title-block #title-product #underline:before {
  right: 0.2% !important;
}
main #wrapper-overview #overview #title-block #title-product #underline:after {
  left: 0.2% !important;
}
@media only all and (max-width: 575px) {
  main #wrapper-overview #overview #title-block #what-is {
    font-size: 12px;
  }
  main #wrapper-overview #overview #title-block #title-text {
    line-height: 1;
    font-size: 36px;
  }
}
@media only all and (max-width: 390px) {
  main #wrapper-overview #overview #title-block #title-text {
    margin-top: 5px !important;
    font-size: 24px;
  }
}
main #wrapper-overview #overview #wrapper-advantage {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100% !important;
  height: 100% !important;
  margin: 0 !important;
}
@media only all and (max-width: 575px) {
  main #wrapper-overview #overview #wrapper-advantage {
    flex-direction: column;
  }
}
@media only all and (max-width: 575px) {
  main #wrapper-overview {
    margin-bottom: 20px;
  }
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container #f {
  width: 100% !important;
  display: flex;
  padding-bottom: 10px !important;
  flex-direction: row;
  padding-top: 50px;
}
.container #f #f-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 4.5%;
}
.container #f #f-details #what-is {
  margin: 0;
}
.container #f #f-details #title-text {
  margin: 0;
}
.container #f #f-details #main-text {
  width: 83%;
}
.container #f #f-details .details {
  margin-top: 15px !important;
}
.container #f #f-details .details .det-info {
  font-size: 18px;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #1a1a1a;
  margin: 15px !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.container #f #f-details .details .det-info p {
  margin: 0px !important;
}
.container #f #f-details .details .det-info img {
  height: 23px !important;
  width: auto;
  margin: 0 !important;
  margin-right: 10px !important;
}
@media only all and (max-width: 992px) {
  .container #f #f-photo {
    display: none;
  }
  .container #f #f-details {
    width: 100%;
    margin: 0;
  }
  .container #f #f-details #underline::before, .container #f #f-details #underline::before {
    right: 0;
    left: 0;
  }
}
@media only all and (max-width: 575px) {
  .container #f #f-details {
    align-items: center;
    text-align: center;
  }
  .container #f #f-details #underline {
    align-items: center;
    justify-content: center;
  }
  .container #f #f-details #main-text {
    width: 75%;
    font-size: 16px !important;
  }
  .container #f #f-details .details {
    margin: 0 auto;
  }
  .container #f #f-details .details .det-info {
    flex-direction: column;
  }
  .container #f #f-details .details .det-info img {
    margin: 0px !important;
    height: 30px !important;
    width: auto;
  }
}
@media only all and (max-width: 390px) {
  .container #f #f-details #what-is {
    font-size: 12px;
  }
  .container #f #f-details #title-text {
    font-size: 24px;
  }
  .container #f #f-details #main-text {
    font-size: 16px !important;
  }
  .container #f #f-details .details .det-info {
    font-size: 14px;
  }
  .container #f #f-details .details .det-info img {
    height: 25px !important;
    width: auto;
  }
}

.wrapper-details {
  background-color: #f2f2f2;
}
.wrapper-details .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.wrapper-details .container #s {
  width: 100% !important;
  display: flex;
}
.wrapper-details .container #s #s-photo {
  height: 100%;
  width: -moz-fit-content;
  width: fit-content;
  margin-top: 43px;
  margin-bottom: 70px;
  padding: 0 !important;
}
.wrapper-details .container #s #s-photo img {
  margin-left: -55px;
  margin-bottom: -55px;
  width: 670px;
}
.wrapper-details .container #s #s-details {
  display: flex;
  flex-direction: column;
  margin: auto 0;
}
.wrapper-details .container #s #s-details #what-is {
  margin: 0;
}
.wrapper-details .container #s #s-details #main-text {
  width: 85% !important;
}
@media only all and (max-width: 1205px) {
  .wrapper-details .container #s #s #s-photo img {
    width: 550px !important;
  }
}
@media only all and (max-width: 1100px) {
  .wrapper-details .container #s {
    margin: 35px;
    margin-left: 0px !important;
    margin-right: 0px !important;
  }
  .wrapper-details .container #s #s-photo img {
    width: 450px !important;
  }
}
@media only all and (max-width: 992px) {
  .wrapper-details .container #s #s-photo {
    display: none;
  }
  .wrapper-details .container #s #s-details {
    width: 100% !important;
  }
  .wrapper-details .container #s #s-details #underline::before, .wrapper-details .container #s #s-details #underline::before {
    right: 0;
    left: 0;
  }
}
@media only all and (max-width: 575px) {
  .wrapper-details .container #s #s-details {
    align-items: center;
    text-align: center;
  }
  .wrapper-details .container #s #s-details #underline {
    align-items: center;
    justify-content: center;
  }
  .wrapper-details .container #s #s-details #main-text {
    font-size: 16px !important;
  }
}
@media only all and (max-width: 390px) {
  .wrapper-details .container #s #s-details #what-is {
    font-size: 12px;
  }
  .wrapper-details .container #s #s-details #title-text {
    font-size: 24px;
  }
  .wrapper-details .container #s #s-details #main-text {
    font-size: 16px;
  }
}

#second-block {
  background-image: url(../images/background-second.jpeg);
  height: -moz-fit-content;
  height: fit-content;
}
#second-block .wrapper-content {
  background-color: rgba(21, 20, 26, 0.8);
}
#second-block .wrapper-content #review-wrapper {
  padding-top: 50px !important;
  padding-bottom: 33px !important;
}
#second-block .wrapper-content #review-wrapper #title #title-block {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#second-block .wrapper-content #review-wrapper #title #title-block #title-text {
  color: #ffffff;
}
#second-block .wrapper-content #review-wrapper #title #title-block #underline {
  margin-bottom: 0px !important;
  justify-content: center;
}
#second-block .wrapper-content #review-wrapper #title #title-block #underline:before {
  right: 0.5% !important;
}
#second-block .wrapper-content #review-wrapper #title #title-block #underline:after {
  left: 0.5% !important;
}
#second-block .wrapper-content #review-wrapper #review {
  width: 100%;
}
#second-block .wrapper-content #review-wrapper #review #slider {
  margin-top: 85px;
  padding: 0 !important;
  display: flex;
  flex-direction: row;
}
#second-block .wrapper-content #review-wrapper #review #slider .slick-list.draggable {
  margin-bottom: 155px;
}
#second-block .wrapper-content #review-wrapper #review #slider .slick-list.draggable .slick-track .slick-slide, #second-block .wrapper-content #review-wrapper #review #slider .slick-list.draggable .slick-track .slick-cloned {
  padding-bottom: 0px !important;
  padding-right: 10px !important;
  padding-left: 10px !important;
}
#second-block .wrapper-content #review-wrapper #review #slider .slick-list.draggable .slick-track .slick-slide .text, #second-block .wrapper-content #review-wrapper #review #slider .slick-list.draggable .slick-track .slick-cloned .text {
  color: #ffffff;
  font-style: italic;
  font-size: 24px !important;
}
#second-block .wrapper-content #review-wrapper #review #slider .slick-list.draggable .slick-track .slick-slide .author, #second-block .wrapper-content #review-wrapper #review #slider .slick-list.draggable .slick-track .slick-cloned .author {
  display: flex;
  align-items: center;
}
#second-block .wrapper-content #review-wrapper #review #slider .slick-list.draggable .slick-track .slick-slide .author img, #second-block .wrapper-content #review-wrapper #review #slider .slick-list.draggable .slick-track .slick-cloned .author img {
  margin-right: 25px !important;
  border-radius: 50%;
}
#second-block .wrapper-content #review-wrapper #review #slider .slick-list.draggable .slick-track .slick-slide .author .texts p:first-child, #second-block .wrapper-content #review-wrapper #review #slider .slick-list.draggable .slick-track .slick-cloned .author .texts p:first-child {
  margin: 0 !important;
  color: #ffffff;
  font-size: 16px;
}
#second-block .wrapper-content #review-wrapper #review #slider .slick-list.draggable .slick-track .slick-slide .author .texts p:last-child, #second-block .wrapper-content #review-wrapper #review #slider .slick-list.draggable .slick-track .slick-cloned .author .texts p:last-child {
  margin: 0 !important;
  color: #ffffff;
  font-weight: bold;
  font-size: 14px;
}
#second-block .wrapper-content #review-wrapper #review #slider ul {
  margin-left: 5px;
  z-index: 9;
  display: flex;
  margin-bottom: 15px;
  justify-content: center;
  align-items: center;
}
#second-block .wrapper-content #review-wrapper #review #slider ul li button::before {
  color: transparent;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  border: 1px solid #999999;
  background-color: transparent;
}
#second-block .wrapper-content #review-wrapper #review #slider ul .slick-active button::before {
  margin-top: -2px;
  height: 12px;
  width: 12px;
  border: none;
  background-color: #ffffff;
}
@media only all and (max-width: 1100px) {
  #second-block .wrapper-content #review-wrapper #review #slider .slick-list.draggable {
    margin-bottom: 90px !important;
  }
}
@media only all and (max-width: 575px) {
  #second-block .wrapper-content #review-wrapper #review #slider .slick-list.draggable {
    margin-bottom: 90px !important;
  }
  #second-block .wrapper-content #review-wrapper #review #slider .slick-list.draggable .slick-slide .slide-content .text, #second-block .wrapper-content #review-wrapper #review #slider .slick-list.draggable .slick-track .slick-cloned .slide-content .text {
    font-size: 16px !important;
  }
  #second-block .wrapper-content #review-wrapper #review #slider .slick-list.draggable .slick-slide .slide-content .author, #second-block .wrapper-content #review-wrapper #review #slider .slick-list.draggable .slick-track .slick-cloned .slide-content .author {
    display: flex;
    align-items: center;
  }
  #second-block .wrapper-content #review-wrapper #review #slider .slick-list.draggable .slick-slide .slide-content .author img, #second-block .wrapper-content #review-wrapper #review #slider .slick-list.draggable .slick-track .slick-cloned .slide-content .author img {
    height: 40px;
    width: auto;
    border-radius: 50%;
    margin-right: 15px !important;
  }
  #second-block .wrapper-content #review-wrapper #review #slider .slick-list.draggable .slick-slide .slide-content .author .texts p:first-child, #second-block .wrapper-content #review-wrapper #review #slider .slick-list.draggable .slick-track .slick-cloned .slide-content .author .texts p:first-child {
    font-size: 16px;
  }
  #second-block .wrapper-content #review-wrapper #review #slider .slick-list.draggable .slick-slide .slide-content .author .texts p:last-child, #second-block .wrapper-content #review-wrapper #review #slider .slick-list.draggable .slick-track .slick-cloned .slide-content .author .texts p:last-child {
    font-size: 14px;
  }
}
@media only all and (max-width: 390px) {
  #second-block .wrapper-content #review-wrapper #what-is {
    font-size: 12px;
  }
  #second-block .wrapper-content #review-wrapper #title-text {
    font-size: 24px;
  }
  #second-block .wrapper-content #review-wrapper #main-text {
    font-size: 16px;
  }
  #second-block .wrapper-content #review-wrapper #review #slider .slick-list.draggable {
    margin-bottom: 90px !important;
  }
  #second-block .wrapper-content #review-wrapper #review #slider .slick-list.draggable .slick-slide .slide-content .text, #second-block .wrapper-content #review-wrapper #review #slider .slick-list.draggable .slick-track .slick-cloned .slide-content .text {
    font-size: 14px !important;
  }
  #second-block .wrapper-content #review-wrapper #review #slider .slick-list.draggable .slick-slide .slide-content .author, #second-block .wrapper-content #review-wrapper #review #slider .slick-list.draggable .slick-track .slick-cloned .slide-content .author {
    display: flex;
    align-items: center;
  }
  #second-block .wrapper-content #review-wrapper #review #slider .slick-list.draggable .slick-slide .slide-content .author img, #second-block .wrapper-content #review-wrapper #review #slider .slick-list.draggable .slick-track .slick-cloned .slide-content .author img {
    height: 40px;
    width: auto;
    border-radius: 50%;
    margin-right: 15px !important;
  }
  #second-block .wrapper-content #review-wrapper #review #slider .slick-list.draggable .slick-slide .slide-content .author .texts p:first-child, #second-block .wrapper-content #review-wrapper #review #slider .slick-list.draggable .slick-track .slick-cloned .slide-content .author .texts p:first-child {
    font-size: 14px;
  }
  #second-block .wrapper-content #review-wrapper #review #slider .slick-list.draggable .slick-slide .slide-content .author .texts p:last-child, #second-block .wrapper-content #review-wrapper #review #slider .slick-list.draggable .slick-track .slick-cloned .slide-content .author .texts p:last-child {
    font-size: 12px;
  }
}

.wrapper {
  width: 100%;
  background-color: #15141a;
}
.wrapper #hook {
  display: flex;
  padding-top: 57px !important;
  padding-bottom: 57px !important;
}
.wrapper #hook .row > * {
  padding: 0 !important;
}
.wrapper #hook #content-hook {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.wrapper #hook #content-hook .start {
  text-align: center;
  display: flex;
  width: -moz-fit-content;
  width: fit-content;
}
.wrapper #hook #content-hook .start p {
  margin: 0;
}
.wrapper #hook #content-hook .start #t-text {
  color: #ffffff;
  font-size: 36px;
  font-weight: 600;
}
.wrapper #hook #content-hook .start #t-hook {
  color: #ffffff;
  font-weight: 100 !important;
  font-size: 36px;
}
.wrapper #hook #content-hook .button-wrapper {
  width: -moz-fit-content;
  width: fit-content;
}
.wrapper #hook #content-hook .button-wrapper a:first-child {
  margin-right: 10px;
}
.wrapper #hook #content-hook .button-wrapper a:last-child {
  margin-left: 10px;
}
@media only all and (max-width: 1205px) {
  .wrapper #hook #content-hook {
    flex-direction: column;
  }
  .wrapper #hook #content-hook .col-8 {
    display: flex;
    width: 100%;
  }
  .wrapper #hook #content-hook .col-8 .start {
    margin: 0 auto;
    margin-bottom: 25px;
  }
  .wrapper #hook #content-hook .col-4 {
    width: 50%;
    display: flex;
  }
  .wrapper #hook #content-hook .col-4 .button-wrapper {
    margin: 0 auto;
  }
}
@media only all and (max-width: 780px) {
  .wrapper #hook #content-hook .col-8 .start {
    flex-direction: column;
  }
  .wrapper #hook #content-hook .col-8 .start #t-text {
    font-size: 36px !important;
  }
  .wrapper #hook #content-hook .col-8 .start #t-hook {
    font-size: 36px !important;
  }
  .wrapper #hook #content-hook .col-4 {
    width: 100%;
    display: flex;
  }
  .wrapper #hook #content-hook .col-4 .button-wrapper {
    margin: 0 auto;
  }
}
@media only all and (max-width: 420px) {
  .wrapper #hook #content-hook .col-8 .start {
    flex-direction: column;
  }
  .wrapper #hook #content-hook .col-8 .start #t-text {
    font-size: 24px !important;
  }
  .wrapper #hook #content-hook .col-8 .start #t-hook {
    font-size: 24px !important;
  }
  .wrapper #hook #content-hook .col-4 {
    width: 100%;
    display: flex;
  }
  .wrapper #hook #content-hook .col-4 .button-wrapper {
    margin: 0 auto;
  }
}
@media only all and (max-width: 390px) {
  .wrapper #hook .button-wrapper a:first-child {
    margin-right: 5px !important;
  }
  .wrapper #hook .button-wrapper a:last-child {
    margin-left: 5px !important;
  }
}

#pricing {
  padding-top: 31px !important;
  padding-bottom: 30px !important;
}
#pricing #title-pricing {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
#pricing #title-pricing #underline {
  margin-bottom: 0px !important;
  justify-content: center;
  margin-bottom: 80px !important;
}
#pricing #title-pricing #underline:before {
  right: 0.25% !important;
}
#pricing #title-pricing #underline:after {
  left: 0.25% !important;
}
@media only all and (max-width: 1205px) {
  #pricing #card {
    display: inline;
    -moz-column-count: 2;
         column-count: 2;
    align-items: center;
    justify-content: center;
  }
  #pricing #card #plan {
    width: 322px;
  }
}
@media only all and (max-width: 695px) {
  #pricing #card {
    display: inline;
    -moz-column-count: 1;
         column-count: 1;
    align-items: center;
    justify-content: center;
  }
}
@media only all and (max-width: 390px) {
  #pricing #card .button-link {
    font-size: 12px !important;
  }
  #pricing #card #plan {
    width: 282px;
  }
}

#contact #our-contacts {
  width: 85%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 60px;
  padding-bottom: 370px;
}
#contact #our-contacts .col-4 {
  width: -moz-fit-content;
  width: fit-content;
}
#contact #contacts-content {
  padding: 0;
}
#contact #contacts-content img {
  padding-bottom: 15px;
}
#contact #contacts-content p {
  margin: 0;
}
#contact #contacts-content a {
  color: #999999;
  text-decoration: none;
}
#contact #contacts-content #name .title-block {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#contact #contacts-content #name .title-block #underline {
  margin-bottom: 0px !important;
  justify-content: center;
}
#contact #contacts-content #name .title-block #underline:before {
  right: 0.5% !important;
}
#contact #contacts-content #name .title-block #underline:after {
  left: 0.5% !important;
}
@media only all and (max-width: 850px) {
  #contact #our-contacts {
    padding-bottom: 85px;
  }
}
@media only all and (max-width: 695px) {
  #contact #our-contacts {
    align-items: center;
    flex-direction: column;
    padding-top: 15px !important;
    padding-bottom: 40px !important;
  }
  #contact #our-contacts #wrapper-contacts {
    margin-top: 25px;
    margin-bottom: 25px;
  }
  #contact #our-contacts #wrapper-contacts p {
    font-size: 18px;
  }
}

.map {
  height: 370px;
  max-width: 100%;
}
.map iframe {
  height: 100%;
  width: 100%;
  border: none;
}

.top-layer {
  height: -moz-fit-content;
  height: fit-content;
  justify-content: center;
  align-items: center;
  position: relative;
}
.top-layer .form-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: #15141a;
  padding-top: 47px;
  padding-bottom: 47px;
  padding-left: 85px;
  padding-right: 85px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -35%);
  max-width: 790px;
  width: 100%;
}
.top-layer .form-container .input-text {
  display: flex;
  flex-direction: row;
}
.top-layer .form-container .input-text .inputs {
  margin-bottom: 20px;
  max-width: 300px;
  width: 100%;
}
.top-layer .form-container .input-text .inputs label {
  width: 100%;
}
.top-layer .form-container .input-text .inputs input {
  background-color: transparent;
  height: 50px;
  margin-bottom: 20px !important;
  padding: 10px;
  padding-right: 10px;
  font-size: 14px;
  border: 1px solid #999999;
  color: #999999;
  font-weight: bold;
  width: 100%;
  border-radius: 2px;
}
.top-layer .form-container .input-text .inputs #subject {
  margin-bottom: 0 !important;
}
.top-layer .form-container .input-text .inputs input:focus {
  outline: 0;
  border: 1px solid #ffffff;
}
.top-layer .form-container .input-text .textarea {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  max-width: 300px;
  width: 100%;
}
.top-layer .form-container .input-text .textarea textarea {
  resize: none;
  border-radius: 2px;
  padding-top: 14px;
  padding-left: 10px;
  font-weight: bold;
  font-size: 14px;
  border: 1px solid #999999;
  background-color: transparent;
  height: 190px;
  width: 100%;
  color: #999999;
}
.top-layer .form-container .input-text .textarea textarea:focus {
  outline: 0;
  border: 1px solid #ffffff;
}
.top-layer .form-container #button-submit {
  display: flex;
  justify-content: flex-end;
}
.top-layer .form-container #button-submit input {
  width: -moz-fit-content;
  width: fit-content;
  display: inline-block;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  border: 1px solid #999999;
  background-color: transparent;
  color: #999999;
}
.top-layer .form-container #button-submit input:hover {
  color: #ffffff;
  border: 1px solid #008ed6;
  background-color: #008ed6;
}
.top-layer .form-container input.failed:invalid, .top-layer .form-container textarea.failed:invalid {
  border: 1px solid #ff0000 !important;
  box-shadow: inset 0 0 6px #F5192F;
}

@media only all and (max-width: 850px) {
  .form-container {
    position: static !important;
    max-width: 100% !important;
    width: 100% !important;
    transform: translate(0, 0) !important;
  }
  .form-container .input-text {
    width: 100%;
  }
  .form-container .input-text .input {
    margin-bottom: 20px !important;
  }
  .form-container .input-text .textarea {
    max-width: 100%;
  }
}
@media only all and (max-width: 620px) {
  .form-container {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .form-container .input-text {
    align-items: center;
    flex-direction: column !important;
  }
  .form-container .input-text .textarea {
    margin-left: 0 !important;
    margin-bottom: 25px !important;
    max-width: 300px !important;
  }
  .form-container #button-submit input {
    margin: 0 auto;
  }
}
.message-form {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 999;
  align-items: center;
  justify-content: center;
}
.message-form #message-content {
  padding: 25px;
  width: 100%;
  height: 100%;
  background-color: #15141a;
  align-items: center;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.message-form #message-content p {
  color: #ffffff;
  font-size: 36px;
}
.message-form #message-content img {
  width: 362px;
  height: 357px;
}
@media only all and (max-width: 620px) {
  .message-form #message-content p {
    font-size: 24px;
  }
  .message-form #message-content img {
    width: 302px;
    height: 297px;
  }
}
@media only all and (max-width: 420px) {
  .message-form #message-content p {
    font-size: 18px;
  }
  .message-form #message-content img {
    width: 242px;
    height: 237px;
  }
}

footer {
  width: 100%;
  height: auto;
  background-color: #15141a;
  flex: 0;
}
footer .col-12 {
  padding-top: 50px;
  padding-bottom: 45px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer .col-12 a {
  text-decoration: none;
  color: #999999;
}
footer .col-12 .footer-image {
  padding-bottom: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 230px;
}
footer .col-12 .footer-image a {
  margin: 0 auto;
}
footer .col-12 .footer-image img {
  filter: grayscale(100%) brightness(50%);
}
footer .col-12 .footer-image img:hover {
  filter: grayscale(0);
}
footer .col-12 .footer-image img:nth-child(1), footer .col-12 .footer-image img:nth-child(2), footer .col-12 .footer-image img:nth-child(3), footer .col-12 .footer-image img:nth-child(4), footer .col-12 .footer-image img:nth-child(5) {
  height: 20px;
  width: auto;
}
footer .col-12 .footer-copyright {
  font-size: 14px;
  font-weight: 600;
  filter: grayscale(100%) brightness(50%);
}
footer .col-12 .footer-copyright:hover {
  filter: grayscale(50%);
  color: #008ed6;
}

.wrapper-content {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  height: -moz-fit-content;
  height: fit-content;
}

.container {
  max-width: 1170px !important;
  padding: 0 !important;
  margin: 0 auto;
  height: 100%;
}
@media only all and (max-width: 1205px) {
  .container {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
}

.col-6 {
  height: -moz-fit-content !important;
  height: fit-content !important;
  padding: 0 !important;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

.overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 11;
}

#what-is {
  font-weight: bold;
  font-size: 14px;
  color: #008ed6;
}

#title-text {
  font-weight: 600;
  font-size: 36px;
  color: #1a1a1a;
}

.circle {
  border: 1px solid #999999;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 90px;
  height: 90px;
  padding: 30px;
}
@media only all and (max-width: 575px) {
  .circle {
    width: 85px;
    height: 85px;
    padding: 15px;
  }
}

s #main-text {
  font-size: 18px !important;
  color: #999999;
}

#underline {
  display: flex;
  width: 100%;
  margin: 25px;
  margin-left: 0px !important;
  margin-right: 0px !important;
}
#underline::before, #underline::after {
  position: relative;
  content: "";
  width: 25px;
  height: 3px;
  top: 0;
  background-color: #008ed6;
}
#underline::before {
  right: 0;
}
#underline::after {
  left: 1%;
}

.bg {
  padding: 0;
  margin: 0;
  display: flex;
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}

#plan {
  width: 270px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border: 1px solid #999999;
  margin: 15px !important;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  padding: 0 !important;
}
#plan #plan-title {
  font-weight: bold;
  font-size: 24px;
  width: 100%;
  padding: 15px;
  border-bottom: 1px solid #999999;
}
#plan #price-block {
  width: 100%;
  padding: 15px;
  border-bottom: 1px solid #999999;
  display: flex;
  flex-direction: column;
}
#plan #price-block #price {
  display: flex;
  justify-content: center;
  vertical-align: top;
}
#plan #price-block #price p {
  margin: 0;
}
#plan #price-block #price #currency {
  margin-top: 13px;
  color: #1a1a1a;
  font-size: 36px;
  font-weight: 600;
}
#plan #price-block #price #count {
  color: #1a1a1a;
  font-size: 60px;
  font-weight: 600;
}
#plan #price-block #frequency {
  margin-top: -20px;
  font-size: 18px;
}
#plan #desc-plan {
  width: 100%;
  align-items: center;
  text-align: center;
  margin-top: 40px !important;
  margin-bottom: 30px !important;
}
#plan #desc-plan #text-plan {
  margin: 0 auto;
  width: 75%;
  margin-bottom: 40px;
  color: #999999;
}
#plan #desc-plan #text-plan span {
  color: #008ed6;
}
#plan #desc-plan .button-link {
  color: #008ed6;
}

#plan:first-child {
  margin-left: 10px !important;
}

#plan:last-child {
  margin-right: 10px !important;
}

#plan:hover #plan-title {
  color: #008ed6;
}
#plan:hover #price-block {
  background-color: #008ed6;
}
#plan:hover #price-block #price #currency {
  color: #ffffff;
}
#plan:hover #price-block #price #count {
  color: #ffffff;
}
#plan:hover #price-block #frequency {
  color: #ffffff;
}
#plan:hover #desc-plan .button-link {
  border: 1px solid #008ed6;
  background-color: #008ed6;
  color: #ffffff;
}

@media only all and (max-width: 1205px) {
  #plan:first-child {
    margin: 0 auto !important;
    margin-bottom: 25px !important;
  }
  #plan:last-child {
    margin: 0 auto !important;
  }
  #plan {
    margin: 0 auto !important;
    margin-bottom: 25px !important;
  }
}
@media only all and (max-width: 575px) {
  #plan:first-child {
    margin: 0 auto;
  }
  #plan:last-child {
    margin: 0 auto;
  }
  #plan {
    margin: 0 auto !important;
    margin-bottom: 25px !important;
  }
  #plan #desc-plan #text-plan .button-link {
    font-size: 14px !important;
  }
}
@media only all and (max-width: 390px) {
  #what-is {
    font-size: 12px;
  }
  #title-text {
    font-size: 24px;
  }
  #main-text {
    font-size: 16px;
  }
}
.button-link {
  display: inline-block;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  border: 1px solid #999999;
  background-color: transparent;
  color: #ffffff;
}

.button-link:hover {
  color: #ffffff;
  border: 1px solid #008ed6;
  background-color: #008ed6;
}

@media only all and (max-width: 390px) {
  .button-link {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    font-size: 10px !important;
  }
}
main {
  min-height: 100vh;
}

#contact {
  width: 100%;
  background-color: #f2f2f2;
  padding-top: 60px;
}
#contact #wrapper-contacts {
  height: -moz-fit-content;
  height: fit-content;
  width: 195px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

#icon-advantage {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 280px;
  margin-bottom: 40px !important;
}
#icon-advantage #title-advantage {
  margin-top: 30px;
  font-size: 24px;
  color: #1a1a1a;
  margin-bottom: 5px;
}
#icon-advantage #desc-advantage {
  width: 90%;
  text-align: center;
  font-size: 18px;
}

@media only all and (max-width: 575px) {
  #icon-advantage #title-advantage {
    font-size: 16px !important;
  }
  #icon-advantage #desc-advantage {
    font-size: 14px !important;
  }
}
@media only all and (max-width: 390px) {
  #icon-advantage #title-advantage {
    font-size: 24px !important;
  }
  #icon-advantage #desc-advantage {
    font-size: 16px !important;
  }
}