@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap");
*, *::before, *::after {
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  border: 0;
}

body {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  border: 0;
}

ul, li {
  list-style: none;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

input, button {
  border: 0;
  border-radius: 0;
}

body {
  font-family: "Source Sans Pro", sans-serif !important;
  font-size: 18px;
  color: #999999;
}

a, label, p {
  color: #999999;
}

header {
  background-image: url(../images/background.jpeg);
  padding: 0;
  margin: 0;
  display: flex;
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}

header {
  background-image: url(../images/background.jpeg);
  padding: 0;
  margin: 0;
  display: flex;
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}
header .wrapper-content {
  height: -moz-fit-content;
  height: fit-content;
  background-color: rgba(21, 20, 26, 0.9);
}
header .wrapper-content #main .row {
  margin: 0 !important;
}
header .wrapper-content #main #name-nav {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  align-items: center !important;
  margin-bottom: 65px !important;
}
header .wrapper-content #main #name-nav p {
  margin: 0 !important;
}
header .wrapper-content #main #name-nav #name-company {
  display: flex;
  align-items: center;
  flex-direction: row;
}
header .wrapper-content #main #name-nav #name-company #main-title {
  font-weight: bold;
  font-size: 24px;
}
header .wrapper-content #main #name-nav #name-company #main-title a {
  text-decoration: none;
  color: #ffffff;
}
header .wrapper-content #main #name-nav #name-company #theme {
  margin-left: 10px;
  line-height: 1;
  font-size: 9px;
}
header .wrapper-content #main #name-nav #name-company #theme a {
  text-decoration: none;
  color: #999999;
}
header .wrapper-content #main #name-nav #navbar {
  display: flex;
  justify-content: flex-end;
}
header .wrapper-content #main #name-nav #navbar nav {
  display: flex;
  justify-content: flex-end !important;
}
header .wrapper-content #main #name-nav #navbar nav button {
  padding: 0 !important;
  padding-right: 10px !important;
  padding-left: 10px !important;
  padding-top: 5px !important;
  padding-bottom: 5px !important;
  border: 1px solid #ffffff !important;
  z-index: 4;
}
header .wrapper-content #main #name-nav #navbar nav button .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='%23FFFFFF' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  color: #ffffff;
}
header .wrapper-content #main #name-nav #navbar nav button:hover {
  background-color: transparent !important;
}
header .wrapper-content #main #name-nav #navbar nav #burger-menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 30%;
  height: 100%;
  background-color: #ffffff;
  transform: translateX(100%);
  transition: transform 0.3s ease;
  z-index: 5;
}
header .wrapper-content #main #name-nav #navbar nav #burger-menu .close-icon {
  background-color: #f2f2f2;
  padding: 10px;
  display: flex;
  justify-content: center;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  margin-bottom: 5px;
}
header .wrapper-content #main #name-nav #navbar nav #burger-menu .close-icon img {
  cursor: pointer;
  height: auto;
  width: 20px;
}
header .wrapper-content #main #name-nav #navbar nav #burger-menu .navbar-nav {
  padding: 15px;
}
header .wrapper-content #main #name-nav #navbar nav #burger-menu .navbar-nav li a {
  font-size: 20px;
  color: #1a1a1a !important;
}
header .wrapper-content #main #name-nav #navbar nav .active {
  transform: translateX(0) !important;
  position: fixed;
}
header .wrapper-content #main #name-nav #navbar nav #menu {
  justify-content: flex-end;
  padding: 0;
}
header .wrapper-content #main #name-nav #navbar nav #menu #burger-menu, header .wrapper-content #main #name-nav #navbar nav #menu #main-menu {
  flex-grow: unset;
}
header .wrapper-content #main #name-nav #navbar nav #menu #burger-menu li, header .wrapper-content #main #name-nav #navbar nav #menu #main-menu li {
  font-size: 16px !important;
}
header .wrapper-content #main #name-nav #navbar nav #menu #burger-menu li:last-child a, header .wrapper-content #main #name-nav #navbar nav #menu #main-menu li:last-child a {
  padding-right: 0 !important;
}
header .wrapper-content #main #name-nav #navbar nav #menu #burger-menu a, header .wrapper-content #main #name-nav #navbar nav #menu #main-menu a {
  padding: 0 !important;
  margin-top: 8px;
  margin-left: 8px;
  margin-right: 8px;
  padding-bottom: 8px !important;
  color: #ffffff;
}
header .wrapper-content #main #name-nav #navbar nav #menu #burger-menu a:hover, header .wrapper-content #main #name-nav #navbar nav #menu #burger-menu a:active, header .wrapper-content #main #name-nav #navbar nav #menu #main-menu a:hover, header .wrapper-content #main #name-nav #navbar nav #menu #main-menu a:active {
  position: relative;
  text-decoration: none;
}
header .wrapper-content #main #name-nav #navbar nav #menu #burger-menu a:hover::before, header .wrapper-content #main #name-nav #navbar nav #menu #main-menu a:hover::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 45%;
  height: 3px;
  background-color: #008ed6;
}
header .wrapper-content #main #name-nav #navbar nav #menu #burger-menu a:hover::after, header .wrapper-content #main #name-nav #navbar nav #menu #main-menu a:hover::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 45%;
  height: 3px;
  background-color: #008ed6;
}

header .wrapper-content #main .row {
  margin: 0 !important;
}
header .wrapper-content #main #text-photo #int-text {
  width: 530px;
  padding: 0 !important;
}
header .wrapper-content #main #text-photo #int-text #what-is {
  font-weight: bold;
  font-size: 14px;
  color: #008ed6;
  margin: 0;
  margin-bottom: 15px;
}
header .wrapper-content #main #text-photo #int-text #title-text {
  font-size: 48px;
  font-weight: 600;
  color: #ffffff;
  line-height: 1;
}
header .wrapper-content #main #text-photo #int-text #some-text {
  width: 85%;
  font-size: 18px;
  margin-bottom: 60px;
}
header .wrapper-content #main #text-photo #int-text button {
  margin-right: 20px;
}
header .wrapper-content #main #text-photo #photo {
  margin-top: -40px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: -moz-fit-content !important;
  height: fit-content !important;
}
header .wrapper-content #main #text-photo #photo img {
  margin-right: 40px;
}

.wrapper-content {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  height: -moz-fit-content;
  height: fit-content;
  background-color: rgba(21, 20, 26, 0.9);
}

.container {
  width: 1170px !important;
  padding: 0 !important;
  padding-left: 15px !important;
  padding-right: 15px !important;
  margin: 0 auto;
  height: 100%;
}

.col-6 {
  height: -moz-fit-content !important;
  height: fit-content !important;
  padding: 0 !important;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

button {
  font-weight: bold;
  font-size: 14px !important;
  padding: 15px !important;
  padding-left: 25px !important;
  padding-right: 25px !important;
  border-radius: 5px !important;
  border: 1px solid #999999;
  background-color: transparent;
  color: #ffffff;
}

button:hover {
  border: 1px solid #008ed6;
  background-color: #008ed6;
}

.overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 3;
}