// Styles for the attention block.
.wrapper {
    width: 100%;
    background-color: $third-bg;

    #hook {
        display: flex;
        padding-top: 57px !important;
        padding-bottom: 57px !important;

        .row > * {
            padding: 0 !important;
        }

        #content-hook {
            width: 100%;
            align-items: center;
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            // Styles for text.
            .attention-text {
                text-align: center;
                display: flex;
                width: fit-content;

                p {
                    margin: 0;
                }

                .first-text {
                    color: $second-accent-color;
                    font-size: $s-large;
                    font-weight: 600;
                }

                .second-text {
                    color: $second-accent-color;
                    font-weight: 100 !important;
                    font-size: $s-large;
                }
            }

            // Styles for buttons.
            .attention-button {
                width: fit-content;

                a {
                    &:first-child {
                        margin-right: 10px;
                    }
                    
                    &:last-child {
                        margin-left: 10px;
                    }
                }

                //Adaptive for 390 pixels.
                @include xx-small {
                    a {
                        &:first-child {
                            margin-right: 5px !important;
                        }

                        &:last-child {
                            margin-left: 5px !important;
                        }
                    }
                }
            }

            // Adaptive for 1205 pixels.
            @include x-large {
                flex-direction: column;
                
                .col-8 {
                    display: flex;
                    width: 100%;

                    .attention-text {
                        margin: 0 auto;
                        margin-bottom: 25px;
                    }
                }

                .col-4 {
                    width: 100%;
                    display: flex;

                    .attention-button {
                        margin: 0 auto;
                    }
                }
            }

            // Adaptive for 850 pixels.
            @include l-large {
                .col-8 {
                    .attention-text {  
                        flex-direction: column;

                        .first-text {
                            font-size: $s-large !important;
                        }
        
                        .second-text {
                            font-size: $s-large !important;
                        }
                    }
                } 
                
                .col-4 {
                    width: 100%;
                    display: flex;

                    .attention-button {
                        margin: 0 auto;
                    }
                }
            }

            //Adaptive for 420 pixels
            @include x-small {
                .col-8 {
                    .attention-text {  
                        flex-direction: column;

                        .first-text {
                            font-size: $large !important;
                        }
        
                        .second-text {
                            font-size: $large !important;
                        }
                    }
                }
                
                .col-4 {
                    width: 100%;
                    display: flex;

                    .attention-button {
                        margin: 0 auto;
                    }
                }
            }
        }
    }
}