@import "../abstracts/abstracts-dir";

.wrapper {
    width: 100%;
    background-color: $third-bg;

    #hook {
        display: flex;
        padding-top: 60px !important;
        padding-bottom: 60px !important;

        .row > * {
            padding: 0 !important;
        }

        #content-hook {
            width: 100%;
            align-items: center;
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .start {
                text-align: center;
                display: flex;
                width: fit-content;

                p {
                    margin: 0;
                }

                #t-text {
                    color: $second-accent-color;
                    font-size: $s-large;
                    font-weight: 600;
                }

                #t-hook {
                    color: $second-accent-color;
                    font-weight: 100 !important;
                    font-size: $s-large;
                }
            }

            .button-wrapper {
                width: fit-content;
            }

            .button-wrapper a:first-child {
                margin-right: 10px;
            }

            .button-wrapper a:last-child {
                margin-left: 10px;
            }
        }

        @include cp {
            #content-hook {
                flex-direction: column;
                
                .col-8 {
                    display: flex;
                    width: 100%;

                    .start {
                        margin: 0 auto;
                        margin-bottom: 25px;
                    }
                }

                .col-4 {
                    width: 50%;
                    display: flex;

                    .button-wrapper {
                        margin: 0 auto;
                    }
                }
            }
        }

        @include he {
            #content-hook {
                .col-8 {
                    .start {  
                        flex-direction: column;

                        #t-text {
                            font-size: $s-large !important;
                        }
        
                        #t-hook {
                            font-size: $s-large !important;
                        }
                    }
                } 
                
                .col-4 {
                    width: 100%;
                    display: flex;

                    .button-wrapper {
                        margin: 0 auto;
                    }
                }
            }
        }

        @include te2 {
            #content-hook {
                .col-8 {
                    .start {  
                        flex-direction: column;

                        #t-text {
                            font-size: $large !important;
                        }
        
                        #t-hook {
                            font-size: $large !important;
                        }
                    }
                }
                
                .col-4 {
                    width: 100%;
                    display: flex;

                    .button-wrapper {
                        margin: 0 auto;
                    }
                }
            }
        }

        @include bt {
            .button-wrapper a:first-child {
                margin-right: 5px !important;
            }

            .button-wrapper a:last-child {
                margin-left: 5px !important;
            }
        }
    }
}