@import "../abstracts/abstracts-dir";

header {
    .wrapper-content {
        #main {
            .row {
                margin: 0 !important;
            }
            
            #text-photo {
                #int-text {
                    padding: 0 !important; 

                    #what-is {
                        font-weight: bold;
                        font-size: $medium;
                        color: $accent-color;
                        margin: 0;
                        margin-bottom: 15px;
                    }

                    #title-text {
                        font-size: $x-large;
                        font-weight: 600;
                        color: $second-accent-color;
                        line-height: 1;
                    }

                    #some-text {
                        width: 83%;
                        font-size: $main;
                        margin-bottom: 60px;
                    }

                    button {
                        margin-right: 20px;
                        margin-bottom: 45px;
                    }
                }

                @include te {
                    #int-text {
                        margin: 0 auto;
                        width: 100% !important;
                    }
                }

                @include ee {
                    #int-text {
                        #what-is {
                            font-size: $x-small;
                        }

                        #title-text {
                            font-size: $s-large;
                        }

                        #some-text {
                            font-size: $average;
                        }
                    }
                }

                @include bt {
                    #int-text {
                        #title-text {
                            font-size: $large;
                        }

                        #some-text {
                            font-size: $medium;
                        }

                        .button-wrapper {
                            button {
                                padding-left: 20px !important;
                                padding-right: 20px !important;
                                padding-top: 10px !important;
                                padding-bottom: 10px !important;
                                margin-right: 10px !important;
                                font-size: $x-small !important;
                            }
                        }
                    }  
                }

                #photo {
                    margin-top: -40px;
                    height: auto;
                    display: flex;
                    height: fit-content !important; 
                    justify-content: flex-end;
                    padding: 0 !important;
                    
                    img {
                        padding-right: 35px !important;
                        width: 450px;
                        height: auto;
                        display: none;
                    }
                    
                    @include hp {
                        img {
                            display: block;
                        }
                    }
                }
            }
        }
    }
}