//Styles for banner
.bg {
    .wrapper-content {
        #banner {
            .row {
                margin: 0 !important;
            }
            
            #text-photo {

                //Styles for text and buttons
                #int-text {
                    padding: 0 !important; 

                    #title-text {
                        font-size: $x-large;
                        color: $second-accent-color;
                        line-height: 1;
                    }

                    #some-text {
                        width: 83%;
                        font-size: $main;
                        margin-bottom: 60px;
                    }

                    .button-wrapper a:first-child {
                        margin-right: 10px !important;
                    }
        
                    .button-wrapper a:last-child {
                        margin-left: 10px !important;
                    }
                }

                //Adaptive for text and buttons for 992 pixels
                @include te {
                    #int-text {
                        margin: 0 auto;
                        width: 100% !important;
                    }

                    .button-link {
                        margin-bottom: 65px;
                    }
                }

                //Adaptive for title for 575 pixels
                @include ee {
                    #int-text {
                        #what-is {
                            font-size: $x-small;
                        }

                        #title-text {
                            font-size: $s-large;
                        }

                        #some-text {
                            font-size: $average;
                        }
                    }
                }

                //Adaptive for title for 390 pixels
                @include bt {
                    #int-text {
                        #title-text {
                            font-size: $large;
                        }

                        #some-text {
                            font-size: $medium;
                        }
                    }  
                }

                //Styles for photos
                #photo {
                    margin-top: -40px;
                    height: auto;
                    display: flex;
                    height: fit-content !important; 
                    justify-content: flex-end;
                    padding: 0 !important;
                    
                    img {
                        padding-right: 35px !important;
                        width: 450px;
                        height: auto;
                        display: none;
                    }
                    
                    //Adaptive for 992 pixels
                    @include hp {
                        img {
                            display: block;
                        }
                    }
                }
            }
        }
    }
}