@import "../abstracts/abstracts-dir";

#contact {
    #our {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-top: 60px;
        padding-bottom: 400px;

        .col-4 {
            width: fit-content;
        }
    }

    #contact-content {
        padding: 0;

        #name {
            .title-block {
                display: flex;
                flex-direction: column;
                align-items: center;

                #underline {
                    margin-bottom: 0px !important;
                    justify-content: center;
                }

                #underline:before {
                    right: 0.5% !important;
                }

                #underline:after {
                    left: 0.5% !important;
                }
            }
        }

        img {
            padding-bottom: 15px;
        }

        p {
            margin: 0;
        }

        a {
            color: $main-color;
            text-decoration: none;
        }
    }

    @include fe {
        #our {
            padding-bottom: 85px;
        }
    }

    @include ce {
        #our {
            align-items: center;
            flex-direction: column;

            #c {
                margin-top: 25px;
                margin-bottom: 25px;

                p {
                    font-size: $main;
                }
            }
        }
    }
}