@import "../abstracts/abstracts-dir";

.wrapper-details {
    background-color: $second-bg;

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;

        //Styles the second block with details
        #s {
            width: 100% !important;
            display: flex;

            //Styles for photo
            #s-photo {
                height: 100%;
                width: fit-content;
                margin-top: 43px;
                margin-bottom: 70px;
                padding: 0 !important;

                img {
                    margin-left: -55px;
                    margin-bottom: -55px;
                    width: 670px;
                }
            }

            //Styles for text
            #s-details {
                display: flex;
                flex-direction: column;
                margin: auto 0;

                #what-is {
                    margin: 0;
                }

                #main-text {
                    width: 85% !important;
                }
            }

            //Adaptive for 1205 pixels
            @include cp {
                #s {
                    #s-photo {
                        img {
                            width: 550px !important;
                        }
                    }
                }
            }

            //Adaptive for 1100 pixels
            @include pe {
                margin: 35px;
                margin-left: 0px !important;
                margin-right: 0px !important;

                #s-photo {
                    img {
                        width: 450px !important;
                    }
                }
            }

            //Adaptive for 992 pixels
            @include te {
                #s-photo {
                    display: none;
                }
    
                #s-details {
                    width: 100% !important;
    
                    #underline::before, #underline::before {
                        right: 0;
                        left: 0;
                    }
                }
            }
    
            //Adaptive for 575 pixels
            @include ee {
                #s-details {
                    align-items: center;
                    text-align: center;
    
                    #underline {
                        align-items: center;
                        justify-content: center;
                    }
    
                    #main-text {
                        font-size: $average !important;
                    }
                }
            }
    
            //Adaptive for 390 pixels
            @include bt {
                #s-details {
                    #what-is {
                        font-size: $x-small;
                    }
    
                    #title-text {
                        font-size: $large;
                    }
    
                    #main-text {
                        font-size: $average;
                    }
                }
            }
        }
    }
}