#contacts-map-form {
    height: fit-content;
    justify-content: center;
    align-items: center;
    position: relative;

    // Styles for a container with a form.
    .form-container {
        position: absolute;
        display: flex;
        flex-direction: column;
        background-color: $third-bg;
        padding-top: 47px;
        padding-bottom: 47px;
        padding-left: 85px;
        padding-right: 85px; 
        top: 50%;
        left: 50%;
        transform: translate(-50%, -35%);
        max-width: 790px;
        width: 100%;
    
        // Styles for a container with the text input fields.
        .wrapper-text-input {
            display: flex;
            flex-direction: row;
    
            .inputs {
                margin-bottom: 20px;
                max-width: 300px;
                width: 100%;
        
                label {
                    width: 100%;

                    input {
                        background-color: transparent;
                        height: 50px;
                        margin-bottom: 20px !important;
                        padding: 10px;
                        padding-right: 10px;
                        font-size: $medium;
                        border: 1px solid $main-color;
                        color: $main-color;
                        font-weight: bold;
                        width: 100%;
                        border-radius: 2px;

                        &:focus {
                            outline: 0;
                            border: 1px solid $second-accent-color
                        }
                    }
                }
            }          

            // Styles for the message field.
            .textarea {
                display: flex;
                flex-direction: column;
                margin-left: 20px;
                max-width: 300px;
                width: 100%;
        
                textarea {
                    resize: none;
                    border-radius: 2px;
                    padding-top: 14px;
                    padding-left: 10px;
                    font-weight: bold;
                    font-size: $medium;
                    border: 1px solid $main-color;
                    background-color: transparent;
                    height: 190px;
                    width: 100%;
                    color: $main-color;

                    &:focus {
                        outline: 0;
                        border: 1px solid $second-accent-color;
                    }
                }
            }
        }
    
        // Styles for the submit button.
        #button-submit {
            display: flex;
            justify-content: flex-end;

            input {
                width: fit-content;
                display: inline-block;
                padding: 15px 25px;
                text-align: center;
                text-decoration: none;
                border-radius: 5px;
                font-weight: bold;
                border: 1px solid $main-color;
                background-color: transparent;
                color: $main-color;

                &:hover {
                    color: $second-accent-color;
                    border: 1px solid $accent-color;
                    background-color: $accent-color;
                }
            }
        }

        // Styles if the fiels are incorrect.
        input.failed:invalid, textarea.failed:invalid {
            border: 1px solid $failed !important; 
            box-shadow: inset 0 0 6px #F5192F;
        }
    }

    // Adaprive for 850 pixels.
    @include fe {
        position: static !important;
        max-width: 100% !important;
        width: 100% !important;
        transform: translate(0, 0) !important;

        .wrapper-text-input {
            width: 100%;

            .input {
                margin-bottom: 20px !important;
            }

            .textarea {
                max-width: 100%;
            }
        }
    }

    // Adaptive for 620 pixels.
    @include ce {
        padding-left: 0 !important;
        padding-right: 0 !important;
        
        .wrapper-text-input {
            align-items: center;
            flex-direction: column !important;
        
            .textarea {
                margin-left: 0 !important;
                margin-bottom: 25px !important;
                max-width: 300px !important;
            }
        }

        #button-submit {
            input {
                margin: 0 auto;
            }
        }
    }
}

