#pricing {
    padding-top: 31px !important;
    padding-bottom: 30px !important;

    //Styles for the block title
    #title-pricing {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        #underline {
            margin-bottom: 0px !important;
            justify-content: center;
            margin-bottom: 80px !important;
        }

        #underline:before {
            right: 0.25% !important;
        }

        #underline:after {
            left: 0.25% !important;
        }
    }

    //Adaptive for a container with plans
    #card {
        //Adaptive for 1205 pixels
        @include cp {
            display: inline;
            column-count: 2;
            align-items: center;
            justify-content: center;

            #plan {
                width: 322px;
            }
        }

        //Adaptive for 695 pixels
        @include coe {
            display: inline;
            column-count: 1;
            align-items: center;
            justify-content: center;
        }

        //Adaptive for 390 pixels
        @include bt {
            .button-link {
                font-size: $x-small !important;
            }

            #plan {
                width: 282px;
            }
        }
    }
}