main {
    #wrapper-overview {
        padding: 0;
        width: 100%;
        border-bottom: 1px solid rgba($main-color, 0.2);
        
        #overview {
            padding-top: 65px !important;

            #title-block {
                display: flex;
                flex-direction: column;
                justify-content: center;
                text-align: center;
                margin: 0 !important;
    
                // Styles for the block title.
                #title-product {
    
                    .what-is {
                        margin-bottom: 0;
                    }
    
                    .title-text {
                        display: inline-block;
                        text-align: center;
                        margin: 0;
                        color: $title-color;
                    }

                    // Adaptive 575 pixels.
                    @include small {
                        .what-is {
                            font-size: $x-small;
                        }
        
                        .title-text {
                            line-height: 1;
                            font-size: $s-large;
                        }
                    }
        
                    // Adaptive 390 pixels.
                    @include xx-small {
                        .title-text {
                            margin-top: 5px !important;
                            font-size: $large;
                        }
                    }
                }
            }
    
            // Styles for a container with and overview.
            #wrapper-advantage {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                width: 100% !important;
                height: 100% !important;
                margin: 0 !important;
                margin-top: 55px !important;

                // Adaptive for 575 pixels.
                @include small {
                    flex-direction: column;
                }
            }
        }

        // Adaptive for 575 pixels.
        @include small {
            margin-bottom: 20px;
        }
    }
}