@import "../abstracts/abstracts-dir";

#s-block {
    background-image: url(../images/background-second.jpeg);
    height: fit-content;

    .wrapper-content {
        background-color: rgba($third-bg, 0.8);

        #review-wrapper {
            padding-top: 60px !important;
            padding-bottom: 60px !important;

            #title {
                width: 100%;
        
                #title-block {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
        
                    #title-text {
                        color: $second-accent-color;
                    }
        
                    #underline {
                        margin-bottom: 0px !important;
                        justify-content: center;
                    }

                    #underline:before {
                        right: 0.25% !important;
                    }

                    #underline:after {
                        left: 0.25% !important;
                    }
                }
            }

            #review {
                width: 100%;
            
                #slider {
                    margin-top: 85px;
                    padding: 0 !important;
                    display: flex;
                    flex-direction: row;
            
                    .slick-list.draggable {
                        margin-bottom: 155px;
            
                        .slick-track {
                            .slick-slide {
                                padding-bottom: 0px !important;
                                
                                #text {
                                    color: $second-accent-color;
                                    font-style: italic;
                                    font-size: $large;
                                    width: 96% !important;
                                }
                        
                                #author {
                                    display: flex;
                                    align-items: center;
                        
                                    img {
                                        margin-right: 25px !important;
                                        border-radius: 50%;
                                    }
                        
                                    .texts {
                                        #name-author {
                                            margin: 0 !important;
                                            color: $second-accent-color;
                                            font-size: $average;
                                        }
                        
                                        #job-author {
                                            margin: 0 !important;
                                            color: $second-accent-color;
                                            font-weight: bold;
                                            font-size: $medium;
                                        }
                                    } 
                                } 
                            }

                            .slick-slide.slick-cloned {
                                padding-bottom: 0px !important;
                                
                                #text {
                                    color: $second-accent-color;
                                    font-style: italic;
                                    font-size: $large;
                                    width: 96% !important;
                                }
                        
                                #author {
                                    display: flex;
                                    align-items: center;
                        
                                    img {
                                        margin-right: 25px !important;
                                        border-radius: 50%;
                                    }
                        
                                    .texts {
                                        #name-author {
                                            margin: 0 !important;
                                            color: $second-accent-color;
                                            font-size: $average;
                                        }
                        
                                        #job-author {
                                            margin: 0 !important;
                                            color: $second-accent-color;
                                            font-weight: bold;
                                            font-size: $medium;
                                        }
                                    } 
                                } 
                            }   
                        }
                    }

                    ul {
                        margin-left: 5px;
                        z-index: 9;
                        display: flex;
                        margin-bottom: 15px;
                        justify-content: center;
                        align-items: center;
                    
                        li {
                            button::before {
                                color: transparent;
                                height: 8px;
                                width: 8px;
                                border-radius: 50%;
                                border: 1px solid $main-color;
                                background-color: transparent;
                            }
                        }
                    
                        .slick-active {
                            button::before {
                                margin-top: -2px;
                                height: 12px;
                                width: 12px;
                                border: none;
                                background-color: $second-accent-color;
                            }
                        }
                    }  
                }
            }
        }
    }
}