@import "../abstracts/abstracts-dir";

#second-block {
    background-image: url(../images/background-second.jpeg);
    height: fit-content;

    .wrapper-content {
        background-color: rgba($third-bg, 0.6);

        .container {
            #title {
                width: 100%;
        
                #title-block {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
        
                    #what-is {
                        margin-top: 65px;
                    }
        
                    #title-text {
                        color: $second-accent-color;
                    }
        
                    #underline {
                        margin-bottom: 0px !important;
                        justify-content: center;
                    }
    
                    #underline::after {
                        left: 0.5%;
                    }
                }
            }
        }
    }
}