// Styles for link buttons.
.button-link {
    display: inline-block;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: $average;
    border: 1px solid $main-color;
    background-color: transparent;
    color: $second-accent-color;

    // Styles for active link buttons.
    &:hover {
        color: $second-accent-color;
        border: 1px solid $accent-color;
        background-color: $accent-color;
    }

    @include x-small {
        font-size: $x-small;
    }

    @include xx-small {
        padding-top: 10px !important;
        padding-bottom: 10px !important;
        font-size: 10px !important;
    }
}