//Contact wrappers
#contact {
    width: 100%;
    background-color: $second-bg;
    padding-top: 60px;  

    //Wrapper for information in contacts
    #wrapper-contacts {
        height: fit-content;
        width: 195px;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
}

