@import "../abstracts/abstracts-dir";

.container {
    max-width: 1170px !important; 
    padding: 0 !important; 
    margin: 0 auto;
    height: 100%;
    padding-left: 15px !important;
    padding-right: 15px !important;
}