//Styles for the container in the overview block
#icon-advantage {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 280px;
    margin-bottom: 40px !important;

    #title-advantage {
        margin-top: 30px;
        font-size: $large;
        color: $title-color;
        margin-bottom: 5px;
    }

    #desc-advantage {
        width: 90%;
        text-align: center;
        font-size: $main;
    }
}

//Adaptive for 575 pixels
@include ee {
    #icon-advantage {
        #title-advantage {
            font-size: $average !important; 
        }

        #desc-advantage {
            font-size: $medium !important; 
        }
    }
}

//Adaptive for 390 pixels
@include bt {
    #icon-advantage {
        #title-advantage {
            font-size: $large !important; 
        }

        #desc-advantage {
            font-size: $average !important; 
        }
    }
}