//Container padding
$cp: 1205px;

//Photo edits
$pe: 1100px;

//Hide photo
$hp: 992px;

//Form edits
$fe: 850px;

//Hook edits
$he: 780px;

//Contacts edits 
$coe: 695px;

//C edits
$ce: 620px;

//Container edits & Burger menu edits & Edits features
$ee: 575px;

//Text edits v2.0
$te2: 420px;

//Buttons edits & Text edits
$bt: 390px;