//The colours that we used on the website
//Color
$main-color: #999999;
$accent-color: #008ed6;
$second-accent-color: #ffffff;
$title-color: #1a1a1a;
$form-failed: #ff0000;
$hover-link: #D1D2D2;

//Background color
$main-bg: #ffffff;
$second-bg: #f2f2f2;
$third-bg: #15141a;